html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.mainPlus{
  overflow-y: hidden;
  opacity: 0.7;
}
.nav-link{
  display: flex;
}

.procard:hover .cardimg{
  opacity: 0.4;
}
.procard:hover .probtn{
  display: flex;
}
@media (max-width:768px) {
  .nav-link{
    top: 0;
      right: 0;
      background-color: white;
      height: 90vh;
      color: black;
      flex-direction: column;
      gap: 1.5rem;
      display: none;
  }
  .open{
    display: flex; 
  }
    .nav-link .menu-icons{
      order:3;
    }
  
}
