body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #18181b;
}

.procard:hover .cardimg{
  opacity: 0.4;
}
.procard:hover .probtn{
  display: flex;
}
@media (max-width:768px) {
  .nav-links{
    position: absolute;
    top: 0;
    right: 0;
    background-color: blue;
    max-width: 20rem;
    height: 100vh;
  }
  
}
